fastapi==0.115.12
joblib==1.4.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
seaborn==0.13.2
uvicorn==0.34.2
tensorflow==2.19.0
locust==2.36.2
requests==2.32.3
python-socketio==5.13.0
gevent==24.11.1
Flask==3.1.0
flask-cors==5.0.1
psutil==7.0.0
streamlit==1.45.0
altair==5.5.0
pyarrow==20.0.0
typing_extensions>=4.5.0